{{define "title"}}
个人主页
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">
  <div class="blog-post bg-white p-5 rounded shadow mb-4">

    <h2 class="blog-post-title">个人信息页</h2>

  </div><!-- /.blog-post -->
</div>

{{end}}