{{define "article-meta"}}
  <p class="blog-post-meta text-secondary">
    发布于 <a href="{{ .Link }}" class="font-weight-bold">{{ .CreatedAtDate }}</a>
    by <a href="{{ .User.Link }}" class="font-weight-bold">{{ .User.Name }}</a>
    分类: <a href="{{ .GetCategory.Link }}" class="font-weight-bold">{{ .GetCategory.Name }}</a>
  </p>
{{ end }}